div.card {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

a {
    transition: all 0.333s;
    -webkit-transition: all 0.333s;
}

.post-content-preview {
    transition: all 0.333s;
    -webkit-transition: all 0.333s;
}
